@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI Semibold');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #e6ecf0;
  margin: 0;
}

.red {
  color: #e0245e;
}

.yellow {
  color: #ffad1f;
}

.blue {
  color: #359df4;
}

.hidden {
  display: none;
}

.flex-box {
  display: flex;
}

main#content {
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
}

#dashboard {
  justify-content: center;
}

form {
  display: inline-block;
  width: 50%;
  text-align: right;
  background-color: #e8f5fd;
  padding: 10px;
}

.form-align {
  display: flex;
  flex-direction: row;
}

textarea {
  overflow: hidden;
  width: 78%;
  border-radius: 10px;
  border: 1px solid #c6e7fb;
  padding: 10px 30px 0 10px;
  resize: none;
  font-size: 14px;
  margin-left: 5px;
}

::-webkit-input-placeholder {
  color: #359df4;
}

:-moz-placeholder {
  color: #359df4;
}

::-moz-placeholder {
  color: #359df4;
}

:-ms-input-placeholder {
  color: #359df4;
}

button {
  background-color: #359df4;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px;
  width: 70px;
  margin: 10px 28px 10px 0px;
}

button:disabled {
  background-color: #b9e1fa;
  color: white;
}

#content-login {
  background-color: #e6ecf0;
  padding-top: 20px;
}

#count {
  position: relative;
  top: 80px;
  margin: 0 2px;
}

ul#list {
  list-style: none;
  width: 56%;
}

li.tweet-item {
  background-color: white;
  padding: 1px 5px 5px 5px;
  border-bottom: 1px solid silver;
  width: 100%;
  margin: 10px 2px;
}

.tweet-title {
  display: flex;
  justify-content: space-between;
}

.tweet-content-title {
  font-size: 10px;
  color: silver;
  padding: 0px 20px;
}

.tweet-content-title-name {
  text-transform: capitalize;
  font-size: 10px;
  padding: 0px 20px;
  color: 333;
  font-weight: bold;
}

.tweet-content {
  font-size: 20px;
  color: #333;
  padding: 0px 20px;
  font-size: 16px;
}

.photo {
  border-radius: 50%;
}

#photo-small {
  width: 45px;
  height: 45px;
  position: relative;
}

#photo-big {
  width: 70px;
  height: 70px;
  position: relative;
  top: 63px;
  margin: 0px 2px;
}

aside {
  width: 30%;
  margin: 0 10px;
}

.profile-card {
  background-color: #1DA1F2;
  height: 95px;
  position: relative;
}

.profile-card-content {
  background: #fff;
  text-align: left;
  flex-direction: column;
}

#name {
  font-family: 'Segoe UI Semibold';
  font-size: 14px;
  text-transform: capitalize;
  position: absolute;
  top: 100px;
  width: 100%;
}

.status {
  padding: 35px 10px 10px;
  font-family: 'Segoe UI Semibold';
  color: gray;
}

#tweets {
  justify-content: flex-end;
  margin-right: 9%;
}

#amount {
  color: white;
  background-color: #359df4;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  margin: 0 0 15px 15px;
}

.home {
  height: 100vh;
  background-color: #359df4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home>div {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  display: block;
}

.home>div>input {
  text-transform: capitalize;
  color: #359df4;
}

#btn-login {
  background-color: white;
  color: #359df4;
  font-weight: bolder;
  margin: 0px 10px;
}

#btn-login:hover {
  background-color: #e6ecf0;
  cursor: pointer;
}